<main class="main">
    <section class="first-screen">
        <div class="container">
            <div class="first-screen__inner">
                <div class="first-screen__box">
                    <div class="first-screen__content">
                        <h1 class="first-screen__title title">АКТИВИРУЙ ИММУНИТЕТ!</h1>
                        <p class="first-screen__text">
                            Всего пять секунд в день помогут укрепить иммунитет и повысить защитные силы организма
                        </p>
                    </div>
                    <div class="first-screen__descr">
                        <h2 class="first-screen__subtitle">NOOTRIS ПОМОГАЕТ</h2>
                        <p class="first-screen__subtext">
                            Вашему организму во время пандемии и сезонных простуд
                        </p>
                    </div>
                </div>
                <img class="first-screen__img" src="../images/bg.png" alt="Товары">
            </div>
        </div>
    </section>
</main>