<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo" href="#"><img src="../images/logo.svg" alt="Логотип"></a>
            <nav class="menu">
                <button class="menu__btn"><span></span></button>
                <ul class="menu__list">
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">
                            FAQ
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">
                            Оплата и доставка
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">
                            Возврат
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">
                            Исследования
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">
                            Личный кабинет
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link link-phone" href="tel:888006000990">
                            8 8 (800) 600-09-90
                        </a>
                    </li>
                </ul>
            </nav>
            <a class="cart" href="#">
                <img class="cart__img" src="../images/basket.svg" alt="Корзина">
                <span>1</span>
            </a>
        </div>
    </div>
</header>